body {
   position: relative;
   background-color:  #6F6F6F;
}
.wrapper {
   position: absolute;
}

/*Navbar*/

.navbar-default {
   background-color: rgba(39,39,39,1);
   border-bottom: 1px solid white;
}

#brand {
   color: #009898;
}

.navbar-nav {
    background-color: rgba(39,39,39,.5);
}

.navbar-nav li {
    border-left: 1px solid #FFBF40;
}

#target a:hover {
    background-color: #009898;
    color: #FFAA00;
}

.jumbotron {
    background-color: rgba(39,39,39, 1);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.full-width {
    padding: 0px;
}

.jumbotron-img {  
    padding: 0px;
    z-index: 9999;
    position: fixed;
    
}

#jumbotron-row {
    margin: 0px;
    background-color: rgba(0,0,0,1);
   
}

#jumbotron-img {
    margin: auto;
    max-width: 100%;
    height: auto;
    
}

#about{
    text-align: center;
    background-color: rgba(39,39,39,1);
    color: white;
    font-size: 1.5em;
    font-family: 'Forum', cursive;
}

#list {
   /*line-height: 15px;*/
   text-align: center;
   position: relative;
   overflow: hidden;
}
#list tr {
  
    position: relative;
    z-index: 2; 
}

#div-img {
   display: block;
   margin-left: auto;
   margin-right: auto
}
#list img {
   display: block;
   position: absolute;
    left: 55px;
   margin: auto;
    height: auto;
    opacity: 0.05;
   
}
#about-row {
   margin-top:100%;
   position: relative;
    margin: 0px;
    z-index: 100;
    
    border-left-width:0px;
    border-left-style: solid;
    border-right-width:0px;
    border-right-style: solid;
    /*
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(39,39,39,1)), to(rgba(0,233,233,1))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(rgba(39,39,39,1), rgba(0,233,233,1)) 1 100%;
    -moz-border-image: -moz-linear-gradient(rgba(39,39,39,1), rgba(0,233,233,1)) 1 100%;    
    -o-border-image: -o-linear-gradient(rgba(39,39,39,0), rgba(0,233,233,1)) 1 100%;
    border-image: linear-gradient(to bottom, rgba(39,39,39,1), rgba(0,233,233,1)) 1 100%;*/
}

#about-text {
    padding-top: 80px;
    padding-bottom: 5px;
    
    background-repeat: no-repeat;
    background-position: bottom;
}

#about-text p{
   opacity: 1 !important;
}

#got{
    color: #00E9E9;
}

.page-break1 {
   background-color: rgba(39,39,39,1);
   border-top: 1px solid #00E9E9;
   border-bottom: 1px solid white; 
}

#quote {
    text-align: center;
    color: rgba(255,191,64,1);
    font-family: 'Forum', cursive;
    padding-top: 45px;
    padding-bottom: 40px;
    border-left-width:0px;
    
    border-left-style: solid;
    border-right-width:0px;
    border-right-style: solid;
    /*
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,233,233,1)), to(rgba(255,255,255,1))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(rgba(0,233,233,1), rgba(255,255,255,1)) 1 100%;
    -moz-border-image: -moz-linear-gradient(rgba(0,233,233,1), rgba(255,255,255,1)) 1 100%;    
    -o-border-image: -o-linear-gradient(rgba(0,233,233,1), rgba(255,255,255,1)) 1 100%;
    border-image: linear-gradient(to bottom, rgba(0,233,233,1), rgba(255,255,255,1)) 1 100%;*/
}

.education {
    background-color: rgba(39,39,39,1);
}

.section-header {
    font-family: 'Forum', cursive;
}
#experience .section-header {
   color: white;
}
#projects .section-header {
   color: #FFFFFF;
}/*
#contact .section-header {
   color: #004DFF;
}*/




#experience{
    padding-top:80px;
    padding-bottom: 40px;
    background-color: rgba(39,39,39,0);   
    border-left-width:0px;
    border-left-style: solid;
    border-right-width:0px;
    border-right-style: solid;   
    /*-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,1)), to(rgba(39,39,39,1))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(rgba(255,255,255,1), rgba(39,39,39,1)) 1 100%;
    -moz-border-image: -moz-linear-gradient(rgba(255,255,255,1), rgba(39,39,39,1)) 1 100%;    
    -o-border-image: -o-linear-gradient(rgba(255,255,255,1), rgba(39,39,39,1)) 1 100%;
    border-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(39,39,39,1)) 1 100%;*/
}

.skill-tabs a {
    /*border-top: 3px solid #BF8F30;
    border-bottom: 3px solid #BF8F30;*/
}
.skill-tabs a:link, .skill-tabs a:visited{
    background-color: rgba(39,39,39,1);
    border-radius: 0px;
    color: #BF8F30;
}
/*
.skill-tabs > li.active > a,
.skill-tabs > a:hover,
.skill-tabs > li.active > a:focus {
    background-color: #009898;
}*/

.software-tabs a {
    /*border-bottom: 1px solid #FFBF40;*/
}

.software-tabs a:link, .software-tabs a:visited {
    background-color: rgba(39,39,39,1);
    border-radius: 0px;
    color: #FF0000;
}
/*
.software-tabs > li.active > a,
.software-tabs > a:hover,
.software-tabs > li.active > a:focus {
    background-color: #009898;
    color: #FFFFFF;
}*/

.webdev-tabs a {
   /* border-bottom: 1px solid #FFBF40;*/
}

.webdev-tabs a:link, .webdev-tabs a:visited {
    background-color: rgba(39,39,39,1);
    border-radius: 0px;
    color: #FF0000;
}
/*
.webdev-tabs > li.active > a,
.webdev-tabs > a:hover,
.webdev-tabs > li.active > a:focus {
    background-color: #009898;
    color: #FFFFFF;
}*/

.panel {
   background-color: rgba(39,39,39,.9);
   border: 0px solid #008E8E;
   border-radius: 0px;
}

.accordion-heading h4{
   background-color: rgba(39,39,39,1);
   color: red;
   margin:0px;
   padding: 5px 0px 5px 0px;
}

.accordion-body p {
   background-color: rgba(39,39,39,0);
   color: #008E8E;
   padding: 2px 3px 2px 3px;
}

#experience-category {
    margin: 0px;
    padding-top:5px;
    padding-bottom: 5px;
}

#experience-content {
   background-color: rgba(39,39,39,0);
   text-align: center;
}

.row-of-photos {
    margin: auto;
    text-align: center;
}
@media only screen and (min-width: 0px) and (max-width: 679px) {
   #tumblr-photo {
      height: 150px;   
   }
}
@media only screen and (min-width: 680px) and (max-width: 979px) and (orientation : portrait) {
   #tumblr-photo {
      height: 200px;
   }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
   #tumblr-photo {
      height: 300px;
   }
}

#tumblr-photo {
   max-height: 300px;
    display: inline-block;
    margin: auto;
    opacity: .15;
    filter: blur(3px);
   -webkit-filter: blur(3px);
}

#tumblr-photo:hover {
   opacity: 1;
   filter: blur(0px);
   -webkit-filter: blur(0px);
}

#photo-row-bottom {
    margin: auto;
    padding: 0px;
}

#page-break2{
    height: 100px;
    background-color: rgba(39,39,39,0);
}

#row2 {
    border-bottom: 0px solid #FFAA00;
}

.page-break2 {
    background-color: rgba(39,39,39,1);
    border-top: 0px solid rgba(39,39,39,1);
    border-bottom: 0px solid #FFAA00;
    box-shadow: 0px 0px 0px #FFAA00;
    
    border-left-width:0px;
    border-left-style: solid;
    border-right-width:0px;
    border-right-style: solid;   
    /*-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(39,39,39,1)), to(#FFBF40)) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(rgba(39,39,39,1), #FFBF40) 1 100%;
    -moz-border-image: -moz-linear-gradient(rgba(39,39,39,1), #FFBF40) 1 100%;    
    -o-border-image: -o-linear-gradient(rgba(39,39,39,1), #FFBF40) 1 100%;
    border-image: linear-gradient(to bottom, rgba(39,39,39,1), #FFBF40) 1 100%;*/
}

#projects {
    padding-top: 0px;
    padding-bottom: 0px;
    border-left-width:0px;
    border-left-style: solid;
    border-right-width:0px;
    border-right-style: solid;   
    /*-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFBF40), to(rgba(39,39,39,1))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#FFBF40, rgba(39,39,39,1)) 1 100%;
    -moz-border-image: -moz-linear-gradient(#FFBF40, rgba(39,39,39,1)) 1 100%;    
    -o-border-image: -o-linear-gradient(#FFBF40, rgba(39,39,39,1)) 1 100%;
    border-image: linear-gradient(to bottom, #FFBF40, rgba(39,39,39,1)) 1 100%;*/
}

.page-break ul li{
    display: inline-block;
    background-color: black;
}

#project-underline {
   border-bottom: 0px solid #FFBF40;
}

#project-header {
   color: #004DFF;
   margin: auto;
   background-color: rgba(39,39,39,.4);
   /*box-shadow: 0px -3px 15px #00FFFF /*-2px 7px 15px #004DFF*/;
   border: 0px solid #00FFFF;
   /*width: 200px;*/
}

.projects {
    background-color: rgba(39,39,39,.4);
    padding-top: 0px;
}

#row3 {
  /*  background-color: rgba(39,39,39,.5);*/
  height: 150px;
  
  border-left-width:0px;
    border-left-style: solid;
    border-right-width:0px;
    border-right-style: solid;
    /*-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(39,39,39,1)), to(#004DFF)) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(rgba(39,39,39,1), #004DFF) 1 100%;
    -moz-border-image: -moz-linear-gradient(rgba(39,39,39,1), #004DFF) 1 100%;    
    -o-border-image: -o-linear-gradient(rgba(39,39,39,1), #004DFF) 1 100%;
    border-image: linear-gradient(to bottom, rgba(39,39,39,1), #004DFF) 1 100%;*/
}

.page-break3 {
   background-color: rgba(39,39,39,.4);
   border-top: 0px solid rgba(39,39,39,1);
   /*border-bottom: 2px solid #004DFF;*/
   box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.contact {
   padding-top: 0px;
   background-color: #6F6F6F;
   text-align: center;
}
   

#contact {
    border-left-width:0px;
    border-left-style: solid;
    border-right-width:0px;
    border-right-style: solid;   
    /*-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#004DFF), to(#00FFFF)) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#004DFF, #00FFFF) 1 100%;
    -moz-border-image: -moz-linear-gradient(#004DFF, #00FFFF) 1 100%;    
    -o-border-image: -o-linear-gradient(#004DFF, #00FFFF) 1 100%;
    border-image: linear-gradient(to bottom, #004DFF, #00FFFF) 1 100%;*/
}

#connect {
    max-width: 50px;
    margin: auto;
    border-radius: 10px;
    
}

#connect-links {
   max-height: 125px;
   width: 100%;
   margin: auto;
   
   padding-top: 10px;
   padding-bottom: 10px;
   box-shadow: 0px 0px 5px rgba(0,0,0,.35);
   /*box-shadow: 3px 4px 15px #00FFFF, -3px 4px 15px #004DFF;*/
}

#follow-header {
   
   margin: auto;
   padding: 0px;
   /*padding-bottom: 100px;*/
   box-shadow: 0px 0px 5px rgba(0,0,0,.35); /*-2px 7px 15px #004DFF;*/
   border: 0px solid #00FFFF;
   width: 100%;
   background-color: rgba(39,39,39,.6);
}

#contact-underline {
   border-bottom: 0px solid #009898;
   box-shadow: 0px 0px 5px rgba(0,0,0,.35);
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 80px;
   margin-bottom: 60px;
}

#contact-section {
   width: 100%;
   padding: 0px;
   background-color: rgba(39,39,39,.6);
}

#social-background {
   width: 100%;
   margin: auto;
   background-color: rgba(39,39,39,.5);
}

.social-icons {
   max-width: 1000px;
   margin: auto;
  
}

#contact-header {
   color: #FFFFFF;
   margin: auto;
   background-color: rgba(39,39,39,.5);
   border: 0px solid #004DFF;
}

#contact .form-fill{
   text-align: center;
   border: 0px;
   box-shadow: inset 0 0 7px 4px rgba(39,39,39,.5);
   background-color: #949494;
   border-radius: 10px;
}

.form-fill {
   max-width: 500px;
   background-color: rgba(39,39,39,.2);
   margin:auto;
}


.glow {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    /*box-shadow: 2px 3px 15px #FFBF40, -2px -3px 15px #FFBF40;*/
    background-color: #949494;
}

.glow:hover {
   filter: blur(0px);
   -webkit-filter: blur(0px);
   box-shadow: inset 0 0 7px 4px rgba(39,39,39,.5);
   border: 0px solid rgba(0,0,0,0.1);
}

.page-header {
    text-align: center;
}

.well {
    text-align: center;
    border-radius: 0px;
    margin-bottom: 0px;
}

.footer {
   border-top: 2px solid #00FFFF;
   /*background-color: rgba(39,39,39,.8);*/
   color: #009898;
   box-shadow: 0px -2px 15px #00FFFF;
   background: red; /* For browsers that do not support gradients */
   /*background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
   /*background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(39,39,39,.8),rgba(39,39,39,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(39,39,39,.8), rgba(39,39,39,1)); /* Standard syntax */
    min-height: 80px;
}

#footer-text {
   color: #009898;
   display: ;
   
}

/**********************************Icons*******************************************/

.social-icons {
   padding: 0px;
}

.icon {
  position: relative;
  width: 19%;
  height: 0;
  margin: auto;
  padding-bottom: 0px;
  display: inline-block;
  
}
@media all and (min-width: 10px) {
  .icon {
    width: 10%;
    padding-bottom: 10%;
      
  }
}

.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0px;
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.icon a:hover {
  background-color: rgba(39,39,39,.2);
  background-size: 0%;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  border-radius: 100px;
}

.icon__name {
  position: relative;
  top: 45%;
  width: 100%;
  margin-top: 0px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.icon:hover .icon__name {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.icon--twitter a {
  background-color: rgba(39,39,39,0);
  background-image: url("twitter.png");
}

.icon--linkedin a {
  background-color: rgba(39,39,39,0);
  background-image: url("in.png");
}

.icon--instagram a {
  background-color: rgba(39,39,39,0);
  background-image: url("insta.png");
}

