body {
    position: relative;
   
}
.navbar-default {
    background-color: rgba(39,39,39,1); 
}

.navbar-nav {
    background-color: rgba(39,39,39,.9);
}
.jumbotron {
   
    background-color: rgba(0,0,0, 1);
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.jumbotron-img {
    
    padding: 0px;
}
#jumbotron-img {
    
    max-width: 100%;
}
.about{
    height: 500px;
    text-align: center;
    background-color: rgba(39,39,39,.05);
}

#row {
    background-color: rgba(39,39,39,.5);
}
.page-break {
   background-color: rgba(39,39,39,1); 
}

.page-break ul li{
    display: inline-block;
    background-color: black;
}

.row-of-photos {
    margin: auto;
    text-align: center;
}

#tumblr-photo {
    height: 150px;
    display: inline-block;

    margin: auto;
}

#photo-row-bottom {
    margin: auto;
    padding: 0px;
}

#page-break2{
    height: 100px;
}

.projects {
    background-color: rgba(39,39,39,.3);
}

.glow {
    webkit-filter: blur(5px);
    filter: blur(5px);
    box-shadow: 10px 15px 45px #fff;
}

.page-header {
    text-align: center;
}
.form-fill{
    position: relative;
    padding-bottom: 85%;
    padding-top: 10px;
    height: 100%;
    overflow: hidden;
}

.form-fill iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.well {
    text-align: center;
}