body {
    position: relative;
   
}
.navbar-default {
    background-color: rgba(39,39,39,1); 
}

.navbar-nav {
    background-color: rgba(39,39,39,.9);
}
.jumbotron {
   
    background-color: rgba(0,0,0, 1);
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.jumbotron-img {
    
    padding: 0px;
}
#jumbotron-img {
    
    max-width: 100%;
}
.about{
    height: 500px;
    text-align: center;
    background-color: rgba(39,39,39,.05);
}

#row {
    background-color: rgba(39,39,39,1);
}



.page-break1 ul li{
    display: inline-block;
    background-color: black;
}

.row-of-photos {
    margin: auto;
    text-align: center;
}

#tumblr-photo {
    height: 300px;
    display: inline-block;

    margin: 
}

#photo-row-bottom {
    margin: 0px;
}



#page-break2{
    height: 200px;
}

.projects {
    background-color: rgba(39,39,39,.3);
}

.page-header {
    text-align: center;
}